PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    password_hash TEXT NOT NULL,
    phone TEXT,
    role TEXT NOT NULL DEFAULT 'CUSTOMER' CHECK (role IN ('CUSTOMER', 'ORGANISER', 'ADMIN')),
    is_active INTEGER NOT NULL DEFAULT 1 CHECK (is_active IN (0,1)),
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP
);
INSERT INTO users VALUES(1,'Admin User','admin@ticketbook.com','DEMO_HASH_ADMIN','9999999999','ADMIN',1,'2026-08-22 06:22:59');
INSERT INTO users VALUES(2,'Sanskar Pandey','sanskar@example.com','DEMO_HASH_CUSTOMER','9876543210','CUSTOMER',1,'2026-08-22 06:22:59');
INSERT INTO users VALUES(3,'Demo Organiser','organiser@ticketbook.com','DEMO_HASH_ORGANISER','9876500000','ORGANISER',1,'2026-08-22 06:22:59');
CREATE TABLE events (
    event_id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    event_type TEXT NOT NULL CHECK (event_type IN ('MOVIE', 'CONCERT')),
    description TEXT,
    poster_url TEXT,
    banner_url TEXT,
    start_date TEXT NOT NULL,
    end_date TEXT,
    duration_minutes INTEGER,
    age_rating TEXT,
    status TEXT NOT NULL DEFAULT 'UPCOMING' CHECK (status IN ('ONGOING','UPCOMING','COMPLETED','CANCELLED')),
    city TEXT NOT NULL,
    region TEXT NOT NULL DEFAULT 'Other',
    venue TEXT,
    base_price REAL NOT NULL DEFAULT 0,
    organiser_id INTEGER,
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (organiser_id) REFERENCES users(user_id) ON DELETE SET NULL
);
INSERT INTO events VALUES(1,'Jailer 2','MOVIE','Rajinikanth returns in the sequel to Jailer.','https://images.unsplash.com/photo-1594909122845-11baa439b7bf?auto=format&fit=crop&w=1000&q=85','https://images.unsplash.com/photo-1536440136628-849c177e76a1?auto=format&fit=crop&w=1400&q=85','2026-10-15',NULL,165,'UA','UPCOMING','Chennai','Chennai','PVR INOX',250.0,3,'2026-08-22 06:22:59');
INSERT INTO events VALUES(2,'Spider-Man: Brand New Day','MOVIE','Peter Parker returns for a new chapter.','https://images.unsplash.com/photo-1635805737707-575885ab0820?auto=format&fit=crop&w=1000&q=85','https://images.unsplash.com/photo-1604200213928-ba3cf4fc8436?auto=format&fit=crop&w=1400&q=85','2026-07-31',NULL,140,'UA','ONGOING','Gurugram','Delhi NCR','PVR INOX Ambience Mall',250.0,3,'2026-08-22 06:22:59');
INSERT INTO events VALUES(3,'Avengers: Doomsday','MOVIE','The Avengers face Doctor Doom.','https://images.unsplash.com/photo-1563089145-599997674d42?auto=format&fit=crop&w=1000&q=85','https://images.unsplash.com/photo-1534447677768-be436bb09401?auto=format&fit=crop&w=1400&q=85','2026-12-18',NULL,160,'UA','UPCOMING','Delhi','Delhi NCR','PVR IMAX Select Citywalk',280.0,3,'2026-08-22 06:22:59');
CREATE TABLE movie_details (
    movie_id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_id INTEGER NOT NULL UNIQUE,
    genre TEXT,
    director TEXT,
    cast_members TEXT,
    original_language TEXT,
    trailer_url TEXT,
    rating REAL DEFAULT 0,
    total_reviews INTEGER DEFAULT 0,
    FOREIGN KEY (event_id) REFERENCES events(event_id) ON DELETE CASCADE
);
INSERT INTO movie_details VALUES(1,1,'Action, Drama','Nelson','Rajinikanth','Tamil','https://www.youtube.com/',8.5,12500);
INSERT INTO movie_details VALUES(2,2,'Action, Superhero','Destin Daniel Cretton','Tom Holland','English','https://www.youtube.com/',8.19999999999999929,8900);
INSERT INTO movie_details VALUES(3,3,'Action, Superhero','Anthony Russo, Joe Russo','Robert Downey Jr.','English','https://www.youtube.com/',8.80000000000000071,15400);
CREATE TABLE movie_languages (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_id INTEGER NOT NULL,
    language TEXT NOT NULL,
    FOREIGN KEY (event_id) REFERENCES events(event_id) ON DELETE CASCADE,
    UNIQUE(event_id, language)
);
INSERT INTO movie_languages VALUES(1,1,'Tamil');
INSERT INTO movie_languages VALUES(2,1,'Hindi');
INSERT INTO movie_languages VALUES(3,1,'Telugu');
CREATE TABLE movie_formats (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_id INTEGER NOT NULL,
    format_name TEXT NOT NULL CHECK (format_name IN ('2D','3D','IMAX 2D','IMAX 3D','4DX','4DX 3D')),
    price REAL NOT NULL,
    FOREIGN KEY (event_id) REFERENCES events(event_id) ON DELETE CASCADE,
    UNIQUE(event_id, format_name)
);
INSERT INTO movie_formats VALUES(1,1,'2D',250.0);
INSERT INTO movie_formats VALUES(2,1,'3D',320.0);
INSERT INTO movie_formats VALUES(3,1,'IMAX 2D',400.0);
CREATE TABLE concert_details (
    concert_id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_id INTEGER NOT NULL UNIQUE,
    artist TEXT NOT NULL,
    genre TEXT,
    city TEXT,
    venue TEXT,
    FOREIGN KEY (event_id) REFERENCES events(event_id) ON DELETE CASCADE
);
INSERT INTO concert_details VALUES(1,6,'Guns N'' Roses','Rock','Bengaluru','NICE Grounds');
INSERT INTO concert_details VALUES(2,7,'Fred again..','Electronic','Bengaluru','NICE Grounds');
INSERT INTO concert_details VALUES(3,8,'Calvin Harris','Electronic','Bengaluru','NICE Grounds');
CREATE TABLE venues (
    venue_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    address TEXT,
    city TEXT NOT NULL,
    region TEXT NOT NULL DEFAULT 'Other',
    capacity INTEGER DEFAULT 0,
    venue_type TEXT CHECK (venue_type IN ('CINEMA','CONCERT','AUDITORIUM','STADIUM','OPEN_AIR')),
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP
);
INSERT INTO venues VALUES(1,'PVR INOX Ambience Mall','Ambience Mall, NH-8','Gurugram','Delhi NCR',300,'CINEMA','2026-08-22 06:22:59');
INSERT INTO venues VALUES(2,'PVR IMAX Select Citywalk','Select Citywalk, Saket','Delhi','Delhi NCR',350,'CINEMA','2026-08-22 06:22:59');
INSERT INTO venues VALUES(3,'PVR INOX Mall of India','DLF Mall of India','Noida','Delhi NCR',300,'CINEMA','2026-08-22 06:22:59');
CREATE TABLE screens (
    screen_id INTEGER PRIMARY KEY AUTOINCREMENT,
    venue_id INTEGER NOT NULL,
    name TEXT NOT NULL,
    screen_type TEXT CHECK (screen_type IN ('STANDARD','IMAX','IMAX_3D','4DX','AUDITORIUM')),
    total_seats INTEGER NOT NULL DEFAULT 0,
    FOREIGN KEY (venue_id) REFERENCES venues(venue_id) ON DELETE CASCADE,
    UNIQUE(venue_id, name)
);
INSERT INTO screens VALUES(1,1,'Screen 1','IMAX',20);
INSERT INTO screens VALUES(2,1,'Screen 2','STANDARD',20);
INSERT INTO screens VALUES(3,2,'IMAX Screen','IMAX_3D',20);
CREATE TABLE seats (
    seat_id INTEGER PRIMARY KEY AUTOINCREMENT,
    screen_id INTEGER NOT NULL,
    seat_number TEXT NOT NULL,
    row_label TEXT NOT NULL,
    seat_category TEXT NOT NULL CHECK (seat_category IN ('STANDARD','PREMIUM','VIP','VVIP')),
    price_multiplier REAL NOT NULL DEFAULT 1.0,
    FOREIGN KEY (screen_id) REFERENCES screens(screen_id) ON DELETE CASCADE,
    UNIQUE(screen_id, seat_number)
);
INSERT INTO seats VALUES(1,1,'A1','A','PREMIUM',1.5);
INSERT INTO seats VALUES(2,1,'A2','A','PREMIUM',1.5);
INSERT INTO seats VALUES(3,1,'A3','A','PREMIUM',1.5);
CREATE TABLE shows (
    show_id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_id INTEGER NOT NULL,
    venue_id INTEGER NOT NULL,
    screen_id INTEGER,
    show_date TEXT NOT NULL,
    start_time TEXT NOT NULL,
    end_time TEXT,
    language TEXT,
    format_name TEXT,
    ticket_price REAL NOT NULL,
    status TEXT NOT NULL DEFAULT 'AVAILABLE' CHECK (status IN ('AVAILABLE','SOLD_OUT','CANCELLED','COMPLETED')),
    FOREIGN KEY (event_id) REFERENCES events(event_id) ON DELETE CASCADE,
    FOREIGN KEY (venue_id) REFERENCES venues(venue_id) ON DELETE CASCADE,
    FOREIGN KEY (screen_id) REFERENCES screens(screen_id) ON DELETE SET NULL
);
INSERT INTO shows VALUES(1,2,1,1,'2026-08-25','10:00','12:20','English','IMAX 3D',450.0,'AVAILABLE');
INSERT INTO shows VALUES(2,2,1,1,'2026-08-25','14:00','16:20','Hindi','IMAX 3D',450.0,'AVAILABLE');
INSERT INTO shows VALUES(3,2,1,2,'2026-08-25','18:30','20:50','English','2D',250.0,'AVAILABLE');
CREATE TABLE show_seats (
    show_seat_id INTEGER PRIMARY KEY AUTOINCREMENT,
    show_id INTEGER NOT NULL,
    seat_id INTEGER NOT NULL,
    status TEXT NOT NULL DEFAULT 'AVAILABLE' CHECK (status IN ('AVAILABLE','HELD','BOOKED')),
    hold_expires_at TEXT,
    booking_id INTEGER,
    updated_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (show_id) REFERENCES shows(show_id) ON DELETE CASCADE,
    FOREIGN KEY (seat_id) REFERENCES seats(seat_id) ON DELETE CASCADE,
    UNIQUE(show_id, seat_id)
);
INSERT INTO show_seats VALUES(1,1,1,'BOOKED',NULL,1,'2026-08-22 06:22:59');
INSERT INTO show_seats VALUES(2,1,2,'BOOKED',NULL,1,'2026-08-22 06:22:59');
INSERT INTO show_seats VALUES(3,1,3,'BOOKED',NULL,4,'2026-08-22 07:27:32');
CREATE TABLE seat_holds (
    hold_id INTEGER PRIMARY KEY AUTOINCREMENT,
    show_id INTEGER NOT NULL,
    seat_id INTEGER NOT NULL,
    user_id INTEGER NOT NULL,
    hold_token TEXT NOT NULL UNIQUE,
    expires_at TEXT NOT NULL,
    status TEXT NOT NULL DEFAULT 'ACTIVE' CHECK (status IN ('ACTIVE','EXPIRED','CONVERTED','CANCELLED')),
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (show_id) REFERENCES shows(show_id) ON DELETE CASCADE,
    FOREIGN KEY (seat_id) REFERENCES seats(seat_id) ON DELETE CASCADE,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
);
CREATE TABLE bookings (
    booking_id INTEGER PRIMARY KEY AUTOINCREMENT,
    booking_reference TEXT NOT NULL UNIQUE,
    user_id INTEGER NOT NULL,
    show_id INTEGER NOT NULL,
    subtotal REAL NOT NULL DEFAULT 0,
    convenience_fee REAL NOT NULL DEFAULT 0,
    tax REAL NOT NULL DEFAULT 0,
    discount REAL NOT NULL DEFAULT 0,
    total_amount REAL NOT NULL DEFAULT 0,
    booking_status TEXT NOT NULL DEFAULT 'PENDING' CHECK (booking_status IN ('PENDING','CONFIRMED','CANCELLED','EXPIRED','REFUNDED')),
    qr_code TEXT,
    qr_data TEXT,
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    confirmed_at TEXT,
    cancelled_at TEXT,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
    FOREIGN KEY (show_id) REFERENCES shows(show_id) ON DELETE CASCADE
);
INSERT INTO bookings VALUES(1,'TB-GGN-2026-A7K92P',2,1,900.0,45.0,170.099999999999994,0.0,1115.0999999999999,'CONFIRMED','QR_DATA_SAMPLE','TB-GGN-2026-A7K92P','2026-08-22 06:22:59','2026-08-22 06:22:59',NULL);
INSERT INTO bookings VALUES(2,'TB-GUR-2026-3HFF4J',2,1,1350.0,45.0,243.0,135.0,1503.0,'CANCELLED','QR-TB-GUR-2026-3HFF4J','TB-GUR-2026-3HFF4J','2026-08-22 06:54:43','2026-08-22 06:54:43','2026-08-22 06:56:50');
INSERT INTO bookings VALUES(3,'TB-GUR-2026-NGRG45',2,2,900.0,45.0,162.0,0.0,1107.0,'CANCELLED','QR-TB-GUR-2026-NGRG45','TB-GUR-2026-NGRG45','2026-08-22 07:19:04','2026-08-22 07:19:04','2026-08-22 07:19:15');
CREATE TABLE booking_seats (
    booking_seat_id INTEGER PRIMARY KEY AUTOINCREMENT,
    booking_id INTEGER NOT NULL,
    show_id INTEGER NOT NULL,
    seat_id INTEGER NOT NULL,
    seat_number TEXT NOT NULL,
    seat_category TEXT NOT NULL,
    price REAL NOT NULL,
    FOREIGN KEY (booking_id) REFERENCES bookings(booking_id) ON DELETE CASCADE,
    FOREIGN KEY (show_id) REFERENCES shows(show_id) ON DELETE CASCADE,
    FOREIGN KEY (seat_id) REFERENCES seats(seat_id) ON DELETE CASCADE
);
INSERT INTO booking_seats VALUES(1,1,1,1,'A1','PREMIUM',450.0);
INSERT INTO booking_seats VALUES(2,1,1,2,'A2','PREMIUM',450.0);
INSERT INTO booking_seats VALUES(3,2,1,3,'A3','PREMIUM',675.0);
CREATE TABLE payments (
    payment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    booking_id INTEGER NOT NULL,
    transaction_id TEXT UNIQUE,
    payment_method TEXT CHECK (payment_method IN ('UPI','CARD','NET_BANKING','WALLET','CASH','TEST')),
    amount REAL NOT NULL,
    payment_status TEXT NOT NULL DEFAULT 'PENDING' CHECK (payment_status IN ('PENDING','SUCCESS','FAILED','REFUNDED')),
    paid_at TEXT,
    FOREIGN KEY (booking_id) REFERENCES bookings(booking_id) ON DELETE CASCADE
);
INSERT INTO payments VALUES(1,1,'TXN-DEMO-001','UPI',1115.0999999999999,'SUCCESS','2026-08-22 06:22:59');
INSERT INTO payments VALUES(2,2,'TXN-1787381683671-926','UPI',1503.0,'REFUNDED','2026-08-22 06:54:43');
INSERT INTO payments VALUES(3,3,'TXN-1787383144581-642','UPI',1107.0,'REFUNDED','2026-08-22 07:19:04');
CREATE TABLE waitlist (
    waitlist_id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_id INTEGER NOT NULL,
    show_id INTEGER,
    user_id INTEGER NOT NULL,
    seat_category TEXT NOT NULL CHECK (seat_category IN ('STANDARD','PREMIUM','VIP','VVIP')),
    position INTEGER NOT NULL,
    status TEXT NOT NULL DEFAULT 'WAITING' CHECK (status IN ('WAITING','OFFERED','BOOKED','EXPIRED','CANCELLED')),
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (event_id) REFERENCES events(event_id) ON DELETE CASCADE,
    FOREIGN KEY (show_id) REFERENCES shows(show_id) ON DELETE CASCADE,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
);
INSERT INTO waitlist VALUES(1,3,4,2,'PREMIUM',1,'WAITING','2026-08-22 06:22:59');
INSERT INTO waitlist VALUES(2,12,NULL,2,'PREMIUM',1,'WAITING','2026-08-22 07:20:30');
CREATE TABLE waitlist_offers (
    offer_id INTEGER PRIMARY KEY AUTOINCREMENT,
    waitlist_id INTEGER NOT NULL,
    show_id INTEGER NOT NULL,
    seat_id INTEGER NOT NULL,
    offer_token TEXT NOT NULL UNIQUE,
    expires_at TEXT NOT NULL,
    status TEXT NOT NULL DEFAULT 'ACTIVE' CHECK (status IN ('ACTIVE','ACCEPTED','EXPIRED','DECLINED')),
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (waitlist_id) REFERENCES waitlist(waitlist_id) ON DELETE CASCADE,
    FOREIGN KEY (show_id) REFERENCES shows(show_id) ON DELETE CASCADE,
    FOREIGN KEY (seat_id) REFERENCES seats(seat_id) ON DELETE CASCADE
);
CREATE TABLE email_logs (
    email_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    booking_id INTEGER,
    email_type TEXT CHECK (email_type IN ('BOOKING_CONFIRMATION','WAITLIST_OFFER','CANCELLATION','PASSWORD_RESET')),
    recipient TEXT NOT NULL,
    subject TEXT,
    status TEXT DEFAULT 'PENDING' CHECK (status IN ('PENDING','SENT','FAILED')),
    sent_at TEXT,
    created_at TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE SET NULL,
    FOREIGN KEY (booking_id) REFERENCES bookings(booking_id) ON DELETE SET NULL
);
INSERT INTO email_logs VALUES(1,2,1,'BOOKING_CONFIRMATION','sanskar@example.com','Booking Confirmed - TB-GGN-2026-A7K92P','SENT','2026-08-22 06:22:59','2026-08-22 06:22:59');
INSERT INTO email_logs VALUES(2,2,2,'BOOKING_CONFIRMATION','sanskar@example.com','Booking Confirmed - TB-GUR-2026-3HFF4J','SENT','2026-08-22 06:54:43','2026-08-22 06:54:43');
INSERT INTO email_logs VALUES(3,2,2,'CANCELLATION','sanskar@example.com','Booking Cancelled - TB-GUR-2026-3HFF4J','SENT','2026-08-22 06:56:50','2026-08-22 06:56:50');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',3);
INSERT INTO sqlite_sequence VALUES('events',24);
INSERT INTO sqlite_sequence VALUES('movie_details',11);
CREATE INDEX idx_events_type ON events(event_type);
CREATE INDEX idx_events_city ON events(city);
CREATE INDEX idx_events_region ON events(region);
CREATE INDEX idx_events_status ON events(status);
CREATE INDEX idx_events_start_date ON events(start_date);
CREATE INDEX idx_shows_event ON shows(event_id);
CREATE INDEX idx_shows_date ON shows(show_date);
CREATE INDEX idx_show_seats_status ON show_seats(show_id, status);
CREATE INDEX idx_seat_holds_expiry ON seat_holds(expires_at);
CREATE INDEX idx_bookings_user ON bookings(user_id);
CREATE INDEX idx_bookings_show ON bookings(show_id);
CREATE INDEX idx_waitlist_event ON waitlist(event_id);
CREATE INDEX idx_waitlist_position ON waitlist(event_id, seat_category, position);
COMMIT;
